.btnGrey {
    text-transform: uppercase;
    color: #9f9f9f;
    padding: 5px 15px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgb(210, 210, 210);
    margin: 0 10px;
}

.btnGreen {
    text-transform: uppercase;
    padding: 5px 15px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background-color: rgb(107, 165, 89);    ;
    border: 1px solid #ccc;
    border-radius: 3px;
}

